<div id="tasks-list">

  <ul>
    {{#each items key="@index" as |item|}}
      <task-item
        @item={{item}}
        @deleteItem={{action deleteItem}}
      />
    {{/each}}
  </ul>

</div>

<div id="new-task">

  <h4>Add new Task</h4>

  <div class="form-group">
    <input class="form-control u-full-width" value={{newTitle}} placeholder="Task Title" onkeyup={{action updateNewTitle}} />
  </div>

  <div class="form-group">
    <input class="form-control u-full-width" value={{newDescription}} placeholder="Task Description" onkeyup={{action updateNewDescription}} />
  </div>

  <div class="form-group">
    <input class="form-control u-full-width" value={{newNote}} placeholder="Additional Notes" onkeyup={{action updateNewNote}} />
  </div>

  <button onclick={{action addTask}} class="button-primary">Add Task</button>
</div>
